.box-overlay {
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.3);
  margin-top: 2vh;
}

#floater {
  position: absolute;
  top: 5%;
  left: 2%;
  /* width: 18vw; */
  /* min-width: 300px; */
  max-width: 450px;
  z-index: 2;
}
