#save-zone {
  display: none;
}

#input-zone-name {
  width: 90%;
  margin: 10px;
}

.centered {
  display: flex;
  justify-content: center;
}

.selected-button {
  background-color: yellow;
  display: none;
}
p {
  font-size: 16px;
}
